<div class="span12">
	<div class="span4 offset4">
		<h1>Requireris42</h1>
	</div>
	<div class="span4">
		<h4><a href="/logout">Logout</a></h4>
	</div>
</div>
<hr/>
<hr/>
<hr/>
<div class="span4 offset4">
	<h3>Add key</h3>
	<form method="POST" action="/key">
		<label>Name:</label>
		<input type="text" name="name" /><br />
		<label>Key:</label>
		<input type="text" name="key" /><br />
		<input type="submit" />
	</form>
</div>
<div class="span4 offset4">
	<h3>Liste</h3>
	<div class="container" id="keys">
		<% if @key != nil %>
		<% for @k in @key %>
		<div class="span12 inline" id="key">
			<div id="name">
				<h4><%= @k.name %></h4>
			</div>
			<div id="otp"></div>
			<a href=<%= '/delete/' + @k.id.to_s %>>Delete</a>
		</div>
		<% end %>
		<% end %>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</div>