<html>
<head>
	<title>Requireris</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" title="Bootstrap">
	<link href="css/main.css" rel="stylesheet" type="text/css" title="Bootstrap">
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<%= yield %>
		</div>
	</div>
</body>
</hmtl>