<html>
	<head>
		<title>Requireris</title>
	</head>
	<body>
		<h1>Login</h1>
		<form method="POST" action="/login">
			<input type="textfield" name="user" />
			<input type="password" name="password" />
			<input type="submit" />
		</form>
	</body>
</hmtl>