<html>
<head>
	<title>Requireris</title>
</head>
<body>
	<h1>Login</h1>
	<form method="POST" action="/login">
		<input type="textfield" name="mail" />
		<input type="password" name="password" />
		<input type="submit" />
	</form>
	<h2>Add user</h2>
	<form method="POST" action="/register">
		<input type="textfield" name="mail" />
		<input type="password" name="password" />
		<input type="submit" />
	</form>
</body>
</hmtl>